<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="ios-barcode-plugin" version="1.0.1">

    <name>CordovaBarcodeScanner</name>
    <description> You can use the BarcodeScanner plugin to scan different types of barcodes. IOS10 Compatible </description>
    <license>MIT</license>
    <repo>https://github.com/Mole93/plugin-barcode-ios</repo>
    <issue>https://github.com/Mole93/plugin-barcode-ios/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/barcodescanner.js" name="BarcodeScanner">
        <clobbers target="cordova.plugins.barcodeScanner"/>
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="ios-package" value="CDVBarcodeScanner"/>
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>
        <resource-file src="src/ios/barcode.bundle"/>
        <header-file src="src/ios/CDVBarcodeScanner.h"/>
         <source-file src="src/ios/CDVBarcodeScanner.m"/>
        <header-file src="src/ios/CDVBarcodeViewController.h"/>
        <source-file src="src/ios/CDVBarcodeViewController.m"/>
         <header-file src="src/ios/MTBBarcodeScanner.h"/>
         <source-file src="src/ios/MTBBarcodeScanner.m"/>
        <framework src="libiconv.dylib"/>
        <framework src="AVFoundation.framework"/>
        <framework src="AssetsLibrary.framework"/>
        <framework src="CoreVideo.framework"/>
        <framework src="QuartzCore.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="CoreImage.framework"/>
        <framework src="AudioToolbox.framework"/>
    </platform>

</plugin>